<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
        Name: <input type="text" name="name" id="user-name"><br>

        Color: <select name="color">
            <option disabled selected hidden >Choose Color</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="sage">Sage</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
        </select><br>

        Noun: <input type="text" name="noun"><br>

        <!-- Adjective:
        <input type="radio" name="adjective" value="adorable"> Adorable
        <input type="radio" name="adjective" value="clumsy"> Clumsy
        <input type="radio" name="adjective" value="funny"> Funny
        <input type="radio" name="adjective" value="happy"> Happy
        <br> -->

        Adjective:
        <input type="checkbox" name="adjective" value="adorable"> Adorable
        <input type="checkbox" name="adjective" value="clumsy"> Clumsy
        <input type="checkbox" name="adjective" value="funny"> Funny
        <input type="checkbox" name="adjective" value="happy"> Happy
        <br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>